<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>William Castelli Homepage</title>
  <meta name = "viewport" content = "width=device-width, initial-scale=1">

  <!-- url_for is a Flask function. The parameters are where the .css file is located. /static/file-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link href="{{ url_for('static', filename = 'myStyle.css') }}" rel="stylesheet">
  <!-- This url_for we are looking for a favicon. /static/file-->
  <link rel="shortcut icon" href = "{{ url_for('static', filename = 'icon2.ico')}}">
    
</head>

<header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
  <img style = "display: block;
  width: 60px;
  border-radius: 50%;" src= "{{url_for('static', filename='images/me.jpeg') }}">
  </a>
  <a class="navbar-brand" href="http://williamcastelli.com"> William Castelli Home</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://williamcastelli.com/mlb/input">MLB Stats Application</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://williamcastelli.com/watchlist">Watchlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/billycastelli">Github</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://williamcastelli.com/about">About</a>
      </li>
    </ul>
  </div>
</nav>
</header>

<body class="main_page">

    {% block content %}

    {% endblock %}

</body>

</html>
