{% extends "watchlist_base.html" %}

{% block content %}

  <br>
  <div class="container">
  <h1>Search results:</h1>
  <br>
  {% for i in range(size) %}
    <div class="row">
  		<div class="col-4 col-md-2">
          <a href = "/movie?mid={{ results[i].mid }}">
          <img class = "clickable" style = "width:100%" src = {{ results[i].poster }}>
        </a>
	    </div>
	    <div class="col-8 col-md-10">
	  	  <h2>{{ results[i].title }}</h2>
	  	  <p>{{ results[i].overview }}</p>
      <a class="btn btn-success btn" href="/movie?mid={{ results[i].mid }}" role="button">More info</a>
	    </div>
	 </div>
	 <hr>
  {% endfor %}
  </div>
{% endblock %}

