<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Watchlist</title>
  <meta name = "viewport" content = "width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link href="{{ url_for('static', filename = 'myStyle.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'watchlist_style.css') }}" rel="stylesheet">

  <!-- This url_for we are looking for a favicon. Change for film /static/file-->
  <link rel="shortcut icon" href = "{{ url_for('static', filename = 'icon2.ico')}}">
    
</head>
<header>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('watchlist_blueprint.watchlist_home') }}">
    <img style = "display: block;
    width: 60px;" src= "{{url_for('static', filename='images/film_icon_white.png') }}">
    </a>
    <a class="navbar-brand" href="{{ url_for('watchlist_blueprint.watchlist_home') }}">Watchlist</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="{{ url_for('watchlist_blueprint.watchlist_mylists') }}">My Watchlists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="{{ url_for('watchlist_blueprint.watchlist_popular') }}">Popular Films</a>
        </li>
        <form class="form-inline my-2 my-lg-0" action = "/search" method="get">
            <input class="searchbar form-control mr-2 mr-sm-2" name="title" type="search" placeholder="Movie Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </ul>

      <ul class="navbar-nav ml-auto">
        {% if session['logged_in'] and session['username'] %}
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="{{ url_for('watchlist_blueprint.watchlist_me') }}">Welcome, {{ session['username'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="{{ url_for('watchlist_blueprint.watchlist_logout') }}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="{{ url_for('watchlist_blueprint.watchlist_login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="{{ url_for('watchlist_blueprint.watchlist_signup') }}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>


{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div style="background-color: #FFF8C6; padding-bottom: 1%; padding-left: 1%; padding-right: 1%; padding-top: 1%;">
		{% for message in messages %}
		<p class="text-center">{{ message }}</p>
		{% endfor %}
	</div>
	{% endif %}
{% endwith %}
</header>

<body>
    {% block content %}

    {% endblock %}
</body>


</body>
<footer>
  <br>
  <br>
  <div class="list-inline" style="text-align: center;">
    <p class = "text-muted">Information provided by <a href="https://www.themoviedb.org">The Movie Database</a>. All source code can be seen at my <a href="https://github.com/billycastelli/">Github</a>.</p>
</div>
</footer>
</html>
