{% extends "watchlist_base.html" %}

{% block content %}

<div class = "container">
	<br>
	<h3>Welcome, {{ session['username'] }}</h3>
	<br>
	{% if lists_info |length > 0 %}
		{% for l in lists_info %}
		<div class="card sm-6">
		  <div class="card-body">
		    <h5 class="card-title">{{ l[3] }}</h5>
		    <p class="card-text text-muted">Created: {{ l[4] }}</p>
		    <a href="{{ url_for('watchlist_blueprint.watchlist_list_view', lid = l[0]) }}" class="btn btn-success">View</a>
		  </div>
		</div>
		<br>
		{% endfor %}
	{% else %}
	<p>No lists found, create a list</p>
	{% endif %}
	<br>
	<a class="btn btn-primary btn-lg" href="{{ url_for('watchlist_blueprint.watchlist_new_list') }}" role="button">New List</a>

</div>

{% endblock %}

